<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Barter APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!-- Script Source Files -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

</head>

<body>
  <!-- cover trade image -->
<div class="container">
    <img src="/public/styles/trade.jpg" alt="trade graphic">
</div>

<!-- page title -->
<div class="container" id="top-bar">
    <h1>Trader APP</h1>
</div>

<!-- Navigation bar-->
<nav class="fullwidth">

        <div class="mainwidth logoback">
            <a class="incontentwidth logotext" href="#">Barter APP</a>
        </div>
        <!-- Please comment in the names-->
        <ul class="navitems mainwidth">
            <li style="margin: 0 10px 0 10px"><a href="about.html">About</a></li>
            <li style="margin: 0 10px 0 10px">|</li>
            <li style="margin: 0 10px 0 10px"><a href="items.html">Items Wanted</a></li>
            <li style="margin: 0 10px 0 10px">|</li>
            <li style="margin: 0 0 0 10px"><a href="market.html">Market</a></li>
            <li style="margin: 0 0 0 10px"><a href="contact.html">Contact</a></li>
        </ul>

    </nav>

</body>
    {{{ body }}}
</html>