<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title">Market</h3>

          
           <h4>Items uploaded from the community</h4>
                {{#each market}}
                {{#unless this.market}}
                    <input class="form-control" type="text" placeholder="{{ this.id }}. {{ this.item_name }}" readonly>
                {{/unless}}
                {{/each}}
        </div>        
        <div class="col-md-4">
            {{#each market}}
            {{#unless this.market}}
                <form method="POST" action="/items/update?_method=PUT" class="button-size">
                    <input type="hidden" name="item_id" type="text" value={{ this.id }}>
                    <br>
                </form>
                {{/unless}}
                {{/each}}
        </div>


      </div>
    </div>
  </div>
</div>
